html {
  /* box-sizing: border; */
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

.selectores-atributos a[target="_blank"] {
  color: red;
}
.estilo-externo {
  font-family: "Playwrite AU SA", cursive;
}
